#container {
    display: flex;
    flex-direction: column;
}

#updateBtn {
    margin: 12px 0;
}

.row {
    display: flex;
}

.square {
    width: 100%;
    border: 1px solid red;
}

.filled {
    background-color: black;
}